<ion-view view-title="AppChool {{quiz.title}}: Score">
  	<ion-content>
		<div class="card">
		  <div class="item item-divider">
		    Felicitation vous avez terminer le quiz !
		  </div>
		  <div class="item item-text-wrap">
		    Votre score est de: {{result}} sur {{max}} questions.</br>
		    vous avez {{pourcent}}% de bonne reponse.
		  </div>
		  <a href="#/squiz">
			  <div class="item item-divider">
			   	Revenire à la liste des quiz
			  </div>
		  </a>
		</div>
	</ion-content>
</ion-view>